# stopBubbling = true có nghĩa là bạn đang yêu cầu rằng cấu hình trong lombok.config này
# sẽ không bị ghi đè bởi các cấu hình Lombok ở mức cao hơn, và nó sẽ được áp dụng duy nhất cho mức này.
config.stopbubbling = true;
# muốn Lombok tự động thêm chú thích @lombok.Generated vào các lớp được tạo ra bởi Lombok.
lombok.addLombokGeneratedAnnotation = true;